<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorate="~{layout/base}">
<body>

<div layout:fragment="content">
    <!-- Inscription -->
    <form class="uk-form-horizontal "
          action="/encheres/Mdp-process"
          method="post"
          th:object="${utilisateur}">

        <input type="hidden" th:field="*{noUtilisateur}"/>

        <input type="hidden" th:field="*{pseudo}" />
        <!-- Mot de passe -->
        <div class="uk-margin-small">
            <label class="uk-form-label" for="motDePasse">Mot de passe :</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="motDePasse" type="password" name="password"
                       th:field="*{motDePasse}"
                       th:classappend="${#fields.hasErrors('motDePasse')} ? ' uk-form-danger' : ''">
            </div>
            <ul th:if="${#fields.hasErrors('motDePasse')}" class="uk-form-danger">
                <li th:each="error: ${#fields.errors('motDePasse')}" th:text="${error}"></li>
            </ul>
        </div>

        <div th:if="${errorMessage}" class="uk-alert-danger uk-alert">
            <p th:text="${errorMessage}"></p>
        </div>
        <!-- Confirmation -->
        <div class="uk-margin-small">
            <label class="uk-form-label" for="confirmMdp">Confirmation :</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="confirmMdp" type="password"
                       name="confirmMdp">
            </div>
        </div>
        <div class="uk-margin-bottom">
            <button type="submit"
                    class="uk-button uk-button-primary uk-border-pill uk-width-1-1">
                Valider
            </button>
        </div>
    </form>

</div>
</body>
</html>