<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="fr"
      layout:decorate="~{layout/base}">
<body>

<div layout:fragment="content">

    <div class="uk-container uk-margin-large-top">

        <h1 class="uk-heading-line uk-text-center"><span>Mon profil</span></h1>

        <!-- Carte profil -->
        <div class="uk-flex uk-flex-center">
            <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-box-shadow-medium">

                <!-- Infos utilisateur -->
                <div class="uk-grid-small uk-child-width-1-2@s" uk-grid>

                    <div>
                        <p><strong>Pseudo :</strong><br>
                            <span id="pseudo" th:text="${utilisateur.pseudo}"></span>
                        </p>
                    </div>

                    <div>
                        <p><strong>Email :</strong><br>
                            <span id="email" th:text="${utilisateur.email}"></span>
                        </p>
                    </div>

                    <div>
                        <p><strong>Nom :</strong><br>
                            <span id="nom" th:text="${utilisateur.nom}"></span>
                        </p>
                    </div>

                    <div>
                        <p><strong>Prénom :</strong><br>
                            <span id="prenom" th:text="${utilisateur.prenom}"></span>
                        </p>
                    </div>

                    <div>
                        <p><strong>Téléphone :</strong><br>
                            <span id="telephone" th:text="${utilisateur.telephone}"></span>
                        </p>
                    </div>

                </div>

                <hr>

                <!-- Adresse -->
                <h4 class="uk-heading-bullet">Adresse</h4>

                <div class="uk-grid-small uk-child-width-1-2@s" uk-grid>

                    <div>
                        <p><strong>Rue :</strong><br>
                            <span th:text="${utilisateur.adresse.rue}"></span>
                        </p>
                    </div>

                    <div>
                        <p><strong>Code postal :</strong><br>
                            <span th:text="${utilisateur.adresse.codePostal}"></span>
                        </p>
                    </div>

                    <div class="uk-width-1-1">
                        <p><strong>Ville :</strong><br>
                            <span th:text="${utilisateur.adresse.ville}"></span>
                        </p>
                    </div>

                </div>

                <!-- Boutons -->
                <div class="uk-margin-top uk-flex uk-flex-between uk-flex-middle">

                    <a class="uk-button uk-button-primary"
                       th:href="@{'/encheres/ProfilModif/'+${loggedUser.noUtilisateur}}">
                        Modifier
                    </a>
                    <a class="uk-button uk-button-danger"
                       th:href="@{/encheres/suppr}">
                        Supprimer compte
                    </a>

                </div>

            </div>
        </div>

    </div>

</div>
</body>
</html>