<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorate="~{layout/base}">

    <body>
    <title layout:fragment="title">Liste encheres</title>
        <div layout:fragment="content">
            <h1>La liste des encheres</h1>
            <div class="uk-child-width-1-2@m " uk-grid>
                <div th:each="article : ${articles}">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top" style="height: 300px; overflow: hidden;">
                            <img th:src="${article.nom_image}" th:alt="${article.nom_article}"
                                 style="width: 100%; height: 100%; object-fit: contain;">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" th:text="${article.title}"></h3>
                            <p th:text="${article.description_article}"></p>
                            <p th:text="${article.date_fin_encheres}"></p>
                            <p th:text="${article.prix_initial}"></p>
                            <p th:text="${article.montant_enchere}"></p>
                            <p th:text="${utilisateur.pseudo}"></p>
                        </div>
                        <div class="uk-card-footer">
                            <a th:href="@{/single-article/{id}(id=${article.id})}" class="uk-button uk-button-text">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>