<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorate="~{layout/base}"
>
<body>

<title layout:fragment="title">Détail vente</title>

<div layout:fragment="content">
    <h1 class="uk-text-center">Détail vente</h1>

    <div class="uk-flex uk-flex-center">
        <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-default uk-padding"
                 style="background-color: #f9f9f9; box-shadow: 0 4px 15px rgba(0,0,0,0.1); border-radius: 10px;">

                <p><u><b>Nom de l'article</b></u> : <span  style="color: darkred">[[${article.nomArticle}]]</span></p>
                <p><u>Description</u> : [[${article.description}]]</p>
                <p><u>Catégorie</u> : [[${article.categorie.libelle}]]</p>
                <p><u>Dernière enchère</u> : [[${enchere.getMontant_enchere()}]]</p>
                <p><u>Date de fin d'enchere</u> : [[${article.dateFinEnchere}]]</p>

                <div class="uk-margin">
                    <div class="uk-card uk-card-default uk-card-body"
                         style="border: 1px solid #ddd; border-radius: 8px;">
                        <h3 class="uk-card-title">Adresse</h3>
                        <p><u>Rue</u> : [[${article.adresseRetrait.rue}]]</p>
                        <p><u>Code postal</u> : [[${article.adresseRetrait.codePostal}]]</p>
                        <p><u>Ville</u> : [[${article.adresseRetrait.ville}]]</p>
                    </div>
                </div>

                <p><u>Vendeur</u> : [[${article.utilisateur.pseudo}]]</p>

                <div class="uk-margin">
                    <form th:action="@{/encheres/ajout}" method="post">
                        <input type="hidden" name="articleId"
                               th:value="${article.noArticle}"/>
                        <input type="hidden"
                               th:value="${article.utilisateur.noUtilisateur}"/>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="proposition-perso">
                                Ma proposition :
                            </label>

                            <div class="uk-form-controls">
                                <input class="uk-input uk-form-small uk-width-1-2"
                                       id="proposition-perso"
                                       type="number"
                                       name="montant"
                                       th:attr="min=${encherir}, value=${encherir}"
                                       th:placeholder="'Encherir : (Minimum : '+${encherir}+' )'"/>
                                        <!--Ajout de la valeur minimum possible pour l'enchere
                                         + on bloque les flèches à cette valeur min-->
                            </div>

                            <input type="submit"
                                   class="uk-button uk-button-primary uk-margin-top"
                                   value="Enchérir"/>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>

