<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
layout:decorate="~{layout/base}">
<body>
<div layout:fragment="content">

<div class="uk-container uk-margin-top">

    <form action="/encheres" method="post">

        <!-- TITRE -->
        <h2 class="uk-text-center">Liste des enchères</h2>

        <div uk-grid class="uk-grid-large">

            <!-- SECTION FILTRES -->
            <div class="uk-width-1-2@m">

                <h4>Filtres :</h4>

                <!-- Input -->
                    <div class="uk-margin">
                        <input class="uk-input uk-border-pill" type="text"
                               name="nomArticle"
                               placeholder="🔍 Le nom de l'article contient">
                    </div>

                    <!-- Catégorie -->
                    <div class="uk-margin">
                        <label>Catégorie :</label>
                        <select class="uk-select uk-width-small" name="categorie">

                        </select>
                    </div>

                    <!-- CHECKBOX -->
                    <div class="uk-margin">
                        <label>
                            <input class="uk-radio" type="radio" name="type" checked> Achats
                        </label>

                        <div class="uk-margin-left">
                            <label class="uk-display-block">
                                <input class="uk-checkbox" type="checkbox"> enchères ouvertes
                            </label>
                            <label class="uk-display-block">
                                <input class="uk-checkbox" type="checkbox"> mes enchères en cours
                            </label>
                            <label class="uk-display-block">
                                <input class="uk-checkbox" type="checkbox"> mes enchères remportées
                            </label>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label>
                            <input class="uk-radio" type="radio" name="type"> Mes ventes
                        </label>

                        <div class="uk-margin-left">
                            <label class="uk-display-block">
                                <input class="uk-checkbox" type="checkbox"> ventes en cours
                            </label>
                            <label class="uk-display-block">
                                <input class="uk-checkbox" type="checkbox"> ventes non débutées
                            </label>
                            <label class="uk-display-block">
                                <input class="uk-checkbox" type="checkbox"> ventes terminées
                            </label>
                        </div>
                    </div>

                </div>

                <!-- BOUTON RECHERCHER -->
                <div class="uk-width-1-2@m uk-flex uk-flex-middle uk-flex-center">
                    <button class="uk-button uk-button-default uk-button-large" type="submit">
                        Rechercher
                    </button>
                </div>

            </div>

            <!-- LISTE DES ARTICLES -->
            <div class="uk-margin-large-top">

                <div class="uk-grid-match uk-child-width-1-2@m uk-grid-medium" uk-grid>

                    <!-- ARTICLE 1 -->
                    <div th:each="enchere : ${articles}">
                        <div class="uk-card uk-card-default uk-card-body uk-flex">

                            <!-- Image -->
                            <div class="uk-margin-right">
                                <div style="width:100px;height:100px;border:1px solid #000;"></div>
                            </div>

                            <!-- Infos -->
                            <div>
                                <h4 class="uk-margin-remove" th:text="${enchere.getNomArticle()}"></h4>
                                <p class="uk-margin-remove" th:text="'Prix de départ : '+${enchere.getMiseAPrix()}"></p>
                                <p class="uk-margin-remove" th:text="'Date de fin : '+${enchere.getDateFinEnchere()}"></p>
                                <p class="uk-margin-remove" th:text="'Vendeur : '+${enchere.getUtilisateur().getPseudo()}"></p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </form>

    </div>
</div>

<!-- UIKit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>

</body>
</html>